<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Munchkin Level Counter</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@^2.0.0/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.19/dist/umd/quasar.mat.min.css" rel="stylesheet" type="text/css">

    <link href="styles.css" rel="stylesheet" type="text/css">

    <script>
        window.quasarConfig = {
            brand: {
                // primary: '#e46262',
            },
        }
    </script>

    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.19/dist/umd/quasar.mat.umd.min.js"></script>

    <script defer src="WebRTC-P2P.js"></script>
    <script defer src="Player.class.js"></script>
    <script defer src="ui.js"></script>
</head>
<body>
    <div id="level-counter">
        <q-layout>
            <q-layout-header>
                <q-toolbar>
                    <!-- showLeft is a model attached to left side drawer below -->
                    <q-btn flat round dense
                           @click="l.showLeft = !l.showLeft"
                           icon="menu"></q-btn>

                    <q-toolbar-title>
                        Level Counter
                    </q-toolbar-title>

                    <q-btn flat round icon="person_add" @click="addPlayer" title="Add Player"></q-btn>
                    <q-btn flat round :icon="rollIcon()" @click="rollDice" wait-for-ripple></q-btn>
                </q-toolbar>
            </q-layout-header>

            <!-- optional -->
            <q-layout-drawer side="left" v-model="l.showLeft">
                <div class="about">
                    <p>This is an experiment in VueJS (and WebRTC P2P, work but not already implemented)</p>
                    <p>For a web-app (TODO PWA) of a level counter for <a href="http://www.worldofmunchkin.com/game/" target="_blank">munchkin game</a></p>
                    <p>For now, It's ugly, but it work for basic functionnality</p>
                    <p><a href="https://github.com/munckin-level-counter/munckin-level-counter.github.io">Source code</a></p>
                </div>
            </q-layout-drawer>

            <q-page-container>

                <q-table title="Players" ref="players" :data.sync="players"
                         :columns="playersColumns" :visible-columns="['name', 'level', 'force']"
                         selection="single" :selected.sync="l.selected"
                         row-key="id" :rows-per-page-options="[]">
                    <q-td slot="body-cell-name" slot-scope="props" :props="props">
                        <span class='color-bubble' :style="{background: props.row.color}">&nbsp;</span>
                        {{ props.row.name }}
                    </q-td>

                    <div slot="bottom" slot-scope="props" class="row justify-between items-center fit">
                        <q-btn
                                round dense icon="chevron_left" color="primary"
                                class="q-mr-md" @click="previous"
                        ></q-btn>

                        <h5 class="flex items-center" style="margin: 0"><span class='color-bubble' :style="{background: selected.color}">&nbsp;</span> {{ selected.name }}</h5>

                        <q-btn
                                round dense icon="chevron_right" color="primary"
                                @click="next"
                        ></q-btn>
                    </div>
                </q-table>

                <div class="selected-player" v-if="selected">
                    <q-input stack-label="Name" v-model="selected.name"></q-input>
                    <q-input stack-label="Level" v-model="selected.level"
                             type="number" min="1"
                             :after="[{icon: 'add', handler () {selected.level += 1}}, {icon: 'remove', handler () {selected.level -= 1}}]"></q-input>
                    <q-input stack-label="Stuff" v-model="selected.stuff"
                             type="number" min="0"
                             :after="[{icon: 'add', handler () {selected.stuff += 1}}, {icon: 'remove', handler () {selected.stuff -= 1}}]"></q-input>
                    <q-input stack-label="Modifier" v-model="selected.modifier"
                             type="number"
                             :after="[{icon: 'add', handler () {selected.modifier += 1}}, {icon: 'remove', handler () {selected.modifier -= 1}}]"></q-input>
                    <q-btn :label="selected.sex" @click="selected.switch()"></q-btn>
                    <q-btn icon="delete_forever" @click="removePlayer()"></q-btn>
                </div>
            </q-page-container>

            <!-- optional -->
            <q-layout-footer>
            </q-layout-footer>
        </q-layout>
    </div>

</body>
</html>